@import 'tailwindcss';

@theme {
  --color-forest-900: #142800;
  --color-forest-800: #1c2513;
  --color-forest-700: #2b381f;
  --color-forest-600: #274312;
  --color-forest-500: #4c5c43;
  --color-forest-400: #656e5e;
  --color-accent-green: #51c152;
  --color-accent-neon: #65f67b;
}
